{% extends 'base_generic.html' %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>
  <p><strong>Дата рождения:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Дата смерти:</strong> {{ author.date_of_death }}</p>
  <p><strong>Книги:</strong></p>
  <ul>
    {% for book in author.book_set.all %}
      <li>
        <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'authors' %}">Назад к списку авторов</a>
{% endblock %}
